<form class="paretto__loginform" {{action "login" on="submit"}}>
  <div class="loginform__logo">

  </div>
  <div class="loginform__warnings">
    {{#if loginFailed}}
      <div class="alert">Invalid username or password.</div>
    {{/if}}


    {{#if isSlowConnection}}
      <div class="alert alert-info">The request seems to be taking more time than usual, please wait.</div>
    {{/if}}
  </div>
  <div class="loginform__inputs">
    <div class="loginform__field">
      <label for="username">Username</label>
      {{input value=username type="text" id="username"}}
    </div>
    <div class="loginform__field">
      <label for="password">Password</label>
      {{input value=password type="password" id="password"}}
    </div>
  </div>
  <div class="loginform__actions">
    <button type="submit" class="btn" {{bindAttr disabled="isProcessing"}}>
      Log in!
    </button>
  </div>
</form>
{{!-- {{outlet}} --}}
