<form class="paretto__loginform" {{action "login" on="submit"}}>
  <div class="loginform__logo">

  </div>
  <div class="loginform__warnings">
    {{#if loginFailed}}
      <div class="alert">Invalid email or password.</div>
    {{/if}}
  </div>
  <div class="loginform__inputs">
    <div class="loginform__field">
      <label for="email">Email</label>
      {{input
        value=emailAddress
        type="email"
        id="email"
        autofocus="autofocus"
        placeholder="Please type your e-mail address."}}
    </div>
    <div class="loginform__field">
      <label for="password">Password</label>
      {{input value=password type="password" id="password"}}
    </div>
  </div>
  <div class="loginform__actions">
    <button type="submit" disabled={{isDisabled}}>
      Log in!
    </button>
  </div>
  {{fullName}}
</form>
{{!-- {{outlet}} --}}
